.fontColor {
  color: whitesmoke;
}

.clearDay,
.clearNight,
.heavyRainDay,
.heavyRainNight,
.stormDay,
.stormNight,
.snowDay,
.snowNight,
.snowSame,
.rainDay,
.rainNight,
.rainSame,
.cloudyDay,
.cloudyNight,
.cloudySame {
  padding: 1rem;
}

.clearDay {
  background: radial-gradient(
    circle,
    rgba(249, 254, 98, 1) 0%,
    rgba(98, 150, 254, 0.68531162464986) 73%
  );
}

.clearNight {
  background: radial-gradient(
    circle,
    rgba(32, 65, 134, 0.8309698879551821) 0%,
    rgba(47, 68, 111, 1) 73%
  );
}

.heavyRainDay {
  background: radial-gradient(
    circle,
    rgba(47, 121, 161, 0.81) 27%,
    rgba(98, 150, 250, 0.8) 100%
  );
}

.heavyRainNight {
  background: radial-gradient(
    circle,
    rgba(47, 121, 161, 0.8) 27%,
    rgba(47, 68, 111, 0.9) 100%
  );
}

.stormDay {
  background: radial-gradient(
    circle,
    rgba(156, 127, 78, 0.81) 27%,
    rgba(98, 150, 250, 0.8) 100%
  );
}

.stormNight {
  background: radial-gradient(
    circle,
    rgba(135, 112, 72, 0.81) 27%,
    rgba(47, 68, 111, 0.9) 100%
  );
}

.snowDay {
  /* background: radial-gradient(
    circle,
    rgba(254, 254, 255, 0.92) 27%,
    rgba(168, 185, 219, 0.69) 100%
  ); */
}

.snowNight {
  background: radial-gradient(
    circle,
    rgba(254, 254, 255, 0.92) 27%,
    rgba(52, 69, 106, 0.6881127450980392) 100%
  );
}

.snowSame {
  background: radial-gradient(
    circle,
    rgba(254, 254, 255, 0.92) 27%,
    rgba(171, 177, 201, 1) 100%
  );
}

.rainDay {
  background: radial-gradient(
    circle,
    rgba(80, 159, 201, 0.81) 27%,
    rgba(98, 150, 250, 0.69) 100%
  );
}

.rainNight {
  background: radial-gradient(
    circle,
    rgba(80, 159, 201, 0.81) 0%,
    rgba(52, 69, 106, 0.69) 73%
  );
}

.rainSame {
  background: radial-gradient(
    circle,
    rgba(80, 159, 201, 0.81) 27%,
    rgba(171, 177, 201, 1) 100%
  );
}

.cloudyDay {
  background: radial-gradient(
    circle,
    rgba(165, 166, 170, 0.69) 27%,
    rgba(98, 150, 250, 1) 100%
  );
}

.cloudyNight {
  background: radial-gradient(
    circle,
    rgba(47, 68, 111, 0.69) 27%,
    rgba(47, 68, 111, 1) 100%
  );
}

.cloudySame {
  background: radial-gradient(
    circle,
    rgba(165, 166, 170, 0.69) 0%,
    rgba(171, 177, 201, 1) 73%
  );
}
