.currentWeather {
  margin: 2rem;
}
.currentWeather img {
  width: 4.5rem;
  height: 4.5rem;
}

.minmax {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.minmax p {
  margin: 5px;
}
