.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(98, 150, 254, 0.877);
}

.error img {
  width: 10rem;
  height: 10rem;
  margin: 2rem;
}
