.footer img {
  width: 25px;
  height: 25px;
  margin: 5px;
}

.footer {
  background-color: var(--yellowColor);
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
