.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.weather {
}

/* .dropdown {
  background-color: white;
  position: fixed;
  left: 1250px;
  top: 50px;
  right: 300px;
  bottom: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
} */
