.switch {
  width: 60px;
  height: 30px;
  background-color: var(--lightGreyColor);
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  padding: 5px;
  cursor: pointer;
  margin: 0 1.5rem;
}

.switch[data-ison="true"] {
  justify-content: flex-end;
}

.handle {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 40px;
}
