.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 2rem;
}

.header h1 {
  margin: 0;
}

.headerBtn {
  background-color: var(--yellowColor);
  border: none;
  border-radius: 2px;
  width: 10rem;
  height: 31px;
  margin: 0rem 1.5rem;
}

.header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}
