.searchLocation {
  display: flex;
  justify-content: flex-end;
  /* margin: 1rem 25rem; */
}

.searchLocation input {
  width: 11rem;
  height: 25px;
}

.searchLocation img {
  width: 25px;
  height: 25px;
}

.searchLocation button {
  border: none;
  background: none;
}
