.unitsOfMeasure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topic {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.5rem;
  margin-top: 0;
}
