.forecastDay {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.forecastHour {
  display: flex;
  flex-direction: column;
  margin: 3px;
}

.sunrise,
.sunset {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
}
