.informations {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.informations img {
  width: 3rem;
  height: 3rem;
}

.topic {
  display: flex;
  flex-direction: row;
}

.information {
  display: flex;
  flex-direction: row;
  width: 11rem;
  height: 3rem;
  margin: 5px;
}

.information p {
  margin: auto;
}
