.App {
  text-align: center;
}

:root {
  --yellowColor: #ffdd00;
  --lightGreyColor: whitesmoke;
}

/* .whiteBg {
  width: 85px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: var(--lightGreyColor);
} */
