.sidebar {
  background-color: none;
  position: fixed;
  left: 1450px;
  top: 56px;
  right: 0;
  bottom: 0;
}

.items {
  background-color: white;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}

.items img {
  width: 20px;
  height: 20px;
  margin: 0 10px 10px;
}

.item {
  background-color: whitesmoke;
  padding: 1rem 4.5rem;
  margin: 10px;
  margin-top: 0;
  font-weight: 600;
}
