.dailyWeather {
  margin: 1rem;
  border: 0.5px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--lightGreyColor);
}
.dailyWeather img {
  width: 4.5rem;
  height: 4.5rem;
}

.dailyMinmax {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dailyMinmax p {
  margin: 5px;
}
